@import "tailwindcss";

:root {
  --body-background: #eeeeee;
  --interactables: #2b7fff;
  --interactables-on-hover: #155dfc;
  --container-background: #d8d8d8;
  --text-color-primary: #ffffff;
  --text-color-secondary: #99a1af;
  --text-color-third: #181818;
}

/* Themes*/
[data-theme="light"] {
  --body-background: #eeeeee;
  --interactables: #2b7fff;
  --interactables-on-hover: #155dfc;
  --container-background: #d8d8d8;
  --text-color-primary: #ffffff;
  --text-color-secondary: #99a1af;
  --text-color-third: #181818;
}

[data-theme="dark"] {
  --body-background: #202020;
  --interactables: #163d79;
  --interactables-on-hover: #1e4291;
  --container-background: #383838;
  --text-color-primary: #ffffff;
  --text-color-secondary: #99a1af;
  --text-color-third: #ebebeb;
}

/* Theme Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--interactables);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--interactables);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Other */
textarea::placeholder {
  color: var(--text-color-third);  
}

::-webkit-scrollbar {
  background: var(--body-background);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--interactables);
  border-radius: 10px
}